<div class="main">
    <div class="title">Event and Opportunities</div>
    <div class="addask">
      <div class="addaskbut" routerLink="/addevent">
        Add a Event/opportunity
      </div>
    </div>
    <div class="cards">
      <div class="card" style="width: 18rem;margin: 2vh 2vw 2vh 2vw;" *ngFor = "let x of events">
        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/menther-4d79f.appspot.com/o/Minimal%20Elegant%20Floral%20Wedding%20Logo.png?alt=media&token=85c3f97e-3c78-4df9-8e38-48760b5f5bd6" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{x.payload.doc.data().EventName}}</h5>
          <p class="card-text">{{x.payload.doc.data().Link}}</p>
          <p class="card-text">{{x.payload.doc.data().email}}</p>
          <a (click) = "submit(x.payload.doc.data().Hashtag)" class="btn btn-primary">#{{x.payload.doc.data().Hashtag}}</a>
        </div>
      </div>
    </div>
  </div>