<div class="main">
    <h2>Your Profile</h2>
    <div class="card">
        <div class="card-body">
            <i class="fa fa-pen fa-xs edit"></i>
            <table>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>:</td>
                        <td>{{fname}} {{lname}}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>:</td>
                        <td>{{email}}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>:</td>
                        <td>{{phone}}</td>
                    </tr>
                    <tr>
                        <td>Skills</td>
                        <td>:</td>
                        <td>{{skill1}}{{skill2}}{{skill3}}{{skill4}}</td>
                    </tr>
                    <tr>
                        <td>Job</td>
                        <td>:</td>
                        <td>{{title}}</td>
                    </tr>
                    <tr>
                        <td>introduction</td>
                        <td>:</td>
                        <td>{{description}}</td>
                    </tr>
                    <tr>
                        <td>Experience</td>
                        <td>:</td>
                        <td>{{title}} at {{company}} from {{startDate}}to {{endDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>